{% extends 'user_login/base.html' %}
{% load static %}
{% block title%}Job-lists :: Page{% endblock title%}
{% block content %}
<h3>Welcome to Job-List Page</h3>
<div class="container">
    {% for job in job_lists %}
    <div style="margin:10px">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
                {{ job.job_role }}
            </h3>
            <div>
                <span style="background-color : rgba(0,0,0,0.3); padding:5px;  border-radius:5px;"><small><b>{{ job.company_name }}</b></small></span>
                <span style="background-color : rgba(0,0,0,0.3); padding:5px;  border-radius:5px;"><small><b>{{ job.job_location }}</b></small></span>
                <div class='card-body'>
                    <span class="job_description">Description : </span><li class="card-text" style="margin-left:20px;">{{ job.job_description}}</li>
                </div>
            </div>
            <a href="{% url 'job-apply' job.id %}" class="btn btn-primary" style="padding-right: 30px; padding-left: 30px;">Apply</a>
          </div>
      </div>
</div>
    {% endfor %}
</div>
{% endblock content %}