{% extends 'base.html' %}
{% block title %}User-Details{% endblock title %}
{% block content %}
<h3>Welcome to User Detail Form</h3>
<form method="post">
    <div>
        <span>Phone Number : </span><input type="number">
    </div>
    <p></p>
    <div>
        <span>10th marks : </span><input type="text">
    </div>
    <p></p>
    <div>
        <span>12th marks : </span><input type="text">
    </div>
    <p></p>
    <div>
        <span>CPI (College , Out of 10) : </span><input type="text">
    </div>
    <p></p>
    <div>
        <input type="submit">
    </div>
    <p></p>
</form>
{% endblock content %}